.image_container{
    position: absolute;
    left: 49%;
    top: 32%;
    transform: translate(-50%, -50%);
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: aliceblue;
    position: absolute;
    margin-left: 580px;
}
body{
   
    background-color: bisque;
    padding: 0%;
    margin: 0;
}
.sidebar{
    position: absolute;
    height: 100vw;
    width: 50px;
    right: 0;ù
background-color:aquamarine;    overflow: auto;
}
.undraggable{
    /* used to to make the picture undraggable */ 
 pointer-events: none; 
}